.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: #add8e6;
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
}
